<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Hola</servlet-name>
  	<servlet-class>mx.com.cetech.web.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hola</servlet-name>
  	<url-pattern>/hola.htm</url-pattern>
  </servlet-mapping>
  
  
</web-app> 
